/* Палитра цветов */
:root {
  --main-txt-color: #212121;
  --sub-txt-color: #ffffff;
  --txt-color: #757575;
  --heder-link-color: #2196f3;
  --logo-footer-color: #000000;
  --section1-background-color: #2f303a;
  --footer-link-color: rgb(255, 255, 255, 0.6);
  --section2-background-color: #ececec;
  --section-background-color: #f5f4fa;
  --activity-color: #ff0000;
}

/* Убирает точки */
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* Задает цвет основному шрифту */
body {
  color: var(--txt-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background: var(--sub-txt-color);
}
/* Убирает подчеркивание */
a {
  text-decoration: none;
}
/* Задает цвет заголовку */
.main-title {
  color: var(--main-txt-color);
}

/* .header {
  width: 1600px;
  height: 80px;
  background-color: var(--sub-txt-color); */

/* .container {
  width: 1200px;

  background-color: var(--section1-background-color);
  display: flex;
  flex-direction: row;
  align-items: baseline;
} */
/* Стилизация хедера nav */
.header {
  display: flex;
  width: 1600px;
  height: 80px;
  background-color: var(--sub-txt-color);
  margin-left: auto;
  margin-right: auto;

  /* Установит стили нинжней рамки */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--section2-background-color);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 215px;
  width: 1200px;
  background-color: var(--sub-txt-color);
}

.link-box {
  margin-left: auto;
}
.nav-container {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--logo-footer-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
}
.nav-link {
  color: var(--main-txt-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.link-accent {
  color: var(--heder-link-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}
/* Стилизация хедера контакты */
.hader-link,
.tel-link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--txt-color);
}
/* Псевдоэлементы ссылок */
.tel-link:hover,
.tel-link:focus,
.nav-link:hover,
.nav-link:focus,
.hader-link:hover,
.hader-link:focus {
  color: var(--heder-link-color);
}
.footer-adress:hover,
.footer-adress:focus {
  color: var(--sub-txt-color);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--footer-link-color);
}
/* подсветка ссылки при активации */
.footer-adress:active,
.footer-contact:active,
.tel-link:active,
.nav-link:active {
  color: var(--activity-color);
}
/* задает цвет ссылки тел. */
.tel-link {
}
/* Стилизация кнопок */
.order-button {
  background-color: var(--heder-link-color);
  color: var(--sub-txt-color);
  cursor: pointer;
  /* font-family: inherit Унаследовать от боди font-family */
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: var(--heder-link-color);
  color: var(--sub-txt-color);
}
.button {
  color: var(--main-txt-color);
  background-color: var(--section-background-color);
  font-size: 16px;
  line-height: 1.62;
  font-weight: 400;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
}
/* Стилизация секция 1 */
.main-section {
}
.main-sectionbox {
  width: 1600px;
  height: 600px;
  background-color: var(--section1-background-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.heading {
  color: var(--sub-txt-color);
  font-size: 44px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.main-heading {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
/* Стилизация секция 2 */
.worck-title {
  line-height: 1.14;
  font-weight: 700;
  color: var(--main-txt-color);
  height: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.worck-content {
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 75px;
}
.section-box {
  display: flex;
  flex-direction: column;
  width: 1170px;
  height: 101px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}
.section {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.li-content {
  width: 270px;
  /* /* margin-left: 30px; */
}
.section-content {
  display: flex;
}
.section-content .li-content + .li-content {
  margin-left: 30px;
}
/* Стилизация секция 3*/
.our-activities {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-txt-color);
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.section-worck .li-worck + .li-worck {
  margin-left: 30px;
}
.section-worck {
  display: flex;
  flex-direction: row;
}
.worck-box {
  width: 1170px;
  height: 386px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 96px;
}
/* Стилизация секция 4 */
.worck-team {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  color: var(--main-txt-color);
  text-align: center;
}
.person {
  font-size: 16px;
  line-height: 1.18;
  color: var(--txt-color);
  margin-left: 24px;
}
.our-team {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  width: 1170px;
  height: 368px;
}
.teamsection-box {
  display: flex;
  margin-bottom: 94px;
  margin-top: auto;
}
.end-section {
  display: flex;

  flex-direction: column;
  padding-top: 94px;
}
.our-team .li-team + .li-team {
  margin-left: 30px;
}
.li-team {
  width: 270px;
  height: 368px;
  background-color: var(--sub-txt-color);
}
.our-section {
  width: 1600px;
  height: 648px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--section-background-color);
}

/* Стилизация футера */
.footer-contact {
  color: var(--txt-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 9px;
}
.footer-adress {
  color: var(--txt-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 9px;
}
.footer {
  width: 1600px;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--section1-background-color);
}
.address {
  width: 231px;
  height: 81px;
  margin-left: 215px;
}
/* Вторая страница */
.sub-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: var(--main-txt-color);
  margin-left: 24px;
}
.web {
  color: var(--heder-link-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;

  display: flex;
}
.studio {
  color: var(--logo-footer-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
}
.studio-footer {
  color: var(--sub-txt-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
}
.web-footer {
  color: var(--heder-link-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
  margin-left: 215px;
  display: flex;
  padding-top: 60px;
  margin-bottom: 20px;
}
.nav {
  display: flex;
  margin-left: 93px;
}

/* .nav .item:last-child {
  margin-right: 0; */
/* } */
.nav .item + .item {
  margin-left: 50px;
}
.auth-nav {
  display: flex;
}
.auth-nav .item + .item {
  margin-left: 50px;
}

/* СПИСОК */
.test-contener {
  width: 1170px;
  height: 1350px;
  margin-left: auto;
  margin-right: auto;
}

.flex-contener {
  display: flex;
  flex-wrap: wrap;
}

.flex-element {
  width: 366px;
  background-color: var(--sub-txt-color);
  margin-right: 30px;
  margin-bottom: 30px;
  /* Установит стили нинжней рамки */

  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--section2-background-color);

  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--section2-background-color);

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--section2-background-color);
}

.flex-element:nth-child(3n) {
  margin-right: 0px;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.filter {
  display: flex;

  margin-top: 94px;
  margin-bottom: 34px;
  width: 611px;
  height: 54px;
  margin-left: auto;
  margin-right: auto;
}
.li-button {
  margin-left: 4px;
}
