/* Палитра цветов */
:root {
  --main-txt-color: #212121;
  --sub-txt-color: #ffffff;
  --txt-color: #757575;
  --heder-link-color: #2196f3;
  --logo-footer-color: #000000;
  --section1-background-color: #2f303a;
  --footer-link-color: rgb(255, 255, 255, 0.6);
  --section2-background-color: #ececec;
  --section-background-color: #f5f4fa;
  --activity-color: #ff0000;
}

/* Убирает точки */
ul {
  list-style: none;
}
/* Задает цвет основному шрифту */
body {
  color: var(--txt-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background: var(--sub-txt-color);
}
/* Убирает подчеркивание */
a {
  text-decoration: none;
}
/* Задает цвет заголовку */
.main-title {
  color: var(--main-txt-color);
}

/* Стилизация хедера nav */
.logo {
  color: var(--logo-footer-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
}
.nav-link {
  color: var(--main-txt-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.link-accent {
  color: var(--heder-link-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}
/* Стилизация хедера контакты */
.hader-link,
.tel-link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--txt-color);
}
/* Псевдоэлементы ссылок */
.tel-link:hover,
.tel-link:focus,
.nav-link:hover,
.nav-link:focus,
.hader-link:hover,
.hader-link:focus {
  color: var(--heder-link-color);
}
.footer-adress:hover,
.footer-adress:focus {
  color: var(--sub-txt-color);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--footer-link-color);
}
/* подсветка ссылки при активации */
.footer-adress:active,
.footer-contact:active,
.tel-link:active,
.nav-link:active {
  color: var(--activity-color);
}
/* задает цвет ссылки тел. */
.tel-link {
}
/* Стилизация кнопок */
.order-button {
  background-color: var(--heder-link-color);
  color: var(--sub-txt-color);
  cursor: pointer;
  /* font-family: inherit Унаследовать от боди font-family */
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
}
.button:hover,
.button:focus {
  background-color: var(--heder-link-color);
  color: var(--sub-txt-color);
}
.button {
  color: var(--main-txt-color);
  background-color: var(--section-background-color);
  font-size: 16px;
  line-height: 1.62;
  font-weight: 400;
}
/* Стилизация секция 1 */
.heading {
  color: var(--sub-txt-color);
}
.main-heading {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
/* Стилизация секция 2 */
.worck-title {
  line-height: 1.14;
  font-weight: 700;
  color: var(--main-txt-color);
}
.worck-content {
  line-height: 1.71;
}
/* Стилизация секция 3*/
.our-activities {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-txt-color);
}
/* Стилизация секция 4 */
.worck-team {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  color: var(--main-txt-color);
}
.person {
  font-size: 16px;
  line-height: 1.18;
  color: var(--txt-color);
}
/* Стилизация футера */
.footer-contact {
  color: var(--txt-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-style: normal;
}
.footer-adress {
  color: var(--txt-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-style: normal;
}
/* Вторая страница */
.sub-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: var(--main-txt-color);
}
.web {
  color: var(--heder-link-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
}
.studio {
  color: var(--logo-footer-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
}
